.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  margin: 30px auto;
  background-color: #fdfdfd;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid rgb(141, 141, 141);
}

.errorInfo {
  color: #ff6565;
}

[data-reach-listbox-button] {
  width: 400px;
  height: 33px;
  font-size: 1.05rem;
  padding: 5px 10px;
  font-family: inherit;
  background-color: #fdfdfd;
  border: 2px solid rgb(141, 141, 141);
  border-radius: 5px;
}

.buttonsWrapper {
  flex-wrap: wrap;
  display: flex;
}

.formInfo {
  font-size: 0.8rem;
}

.chosenPointsList {
  width: 100%;
  list-style: none;
  font-size: 1.1rem;
  text-align: left;
}

.chosenPointsList li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 8px auto;
}

.chosenPointsList li span {
  margin-left: 10px;
}

.chosenPointsList li .middlePoints {
  margin-left: 27px;
}
