.wrapper {
  height: 100%;
  width: 100%;
  background-image: url('../../../../assets/LabeledPointManagement/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 95% 95%;
  background-size: 45%;
  text-align: center;
}