.linkWrapper {
  display: inline-block;
}

.linkText {
  background-color: white;
  color: #DD9549;
  border: 3px solid #DD9549;
  border-radius: 10px;
  text-align: center;
  height: 45px;
  width: 240px;
  margin: 20px 10px;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkText:hover {
  background-color: #DD9549;
  color: white;
}